/* header.css */
        
        .header, .mobile-header {
            display: flex;
            align-items: center;
            padding: 10px;
            color: white;
        }
        .header {
            background-color: white;
            justify-content: space-between;
        }
        .mobile-header {
            background-color: white;
            justify-content: space-between;
            position: relative;
        }
        .logo {
            width: 150px;
            height: 50px;
            margin-right: 10px;
            margin-top: 15px;
            margin-left: 30px;
        }
        .logo img {
            width: 100%;
            height: auto;
        }
        .search-box {
            display: flex;
            align-items: center;
            margin-right: auto;
            margin-left: 60px;
        }
        #search-input, #search-button {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0 10px;
        }
        #search-input {
            border: 1px solid #ccc;
            border-right: none;
            border-radius: 5px 0 0 5px;
            box-sizing: border-box;
        }
        #search-button {
            border: 1px solid #ccc;
            background-color: #944b1e;
            color: white;
            cursor: pointer;
            border-radius: 0 5px 5px 0;
            border-left: none;
            box-sizing: border-box;
        }
        
        .business-links {
            display: flex;
            align-items: center;
        }
        .business-links a {
            margin-right: 40px;
            text-decoration: none;
            color: black;
            text-align: center;
            font-size: 19px;
        }
        
        .mobile-search-box input {
            background-color: transparent;
            border: none;
            color: white;
            font-size: 16px;
            padding: 5px;
        }
        .mobile-search-box input::placeholder {
            color: lightgrey;
        }
        .mobile-search-box input:focus {
            outline: none;
        }
        
        
        .searchm-box {
            display: flex;
            align-items: center;
            margin-right: auto;
            margin-left: 60px;
        }
        #searchm-input, #search-button {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0 10px;
        }
        #searchm-input {
            border: 1px solid #ccc;
            border-right: none;
            border-radius: 5px 0 0 5px;
            box-sizing: border-box;
        }
        #searchm-button {
            border: 1px solid #ccc;
            background-color: #944b1e;
            color: white;
            cursor: pointer;
            border-radius: 0 5px 5px 0;
            border-left: none;
            box-sizing: border-box;
        }
        .mobile-header .search-box {
            flex-grow: 1;
            margin-right: 0;
        }
        .mobile-header .logo {
            margin: auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 15px;
            width: 100px;
            height: auto;
        }
        .menu-icon {
            width: 40px;
            height: 40px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: black;
            font-size: 24px;
        }
        
        .popup {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            z-index: 999;
            overflow-y: auto;
            padding: 20px;
            box-sizing: border-box;
        }
        .popup-content {
            position: absolute;
            top: 23%;
            left: 30%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            text-align: left;
            max-width: 90%;
            max-height: 90%;
            overflow-y: auto;
        }
        .popup-content a {
            display: block;
            margin-bottom: 10px;
            text-decoration: none;
            color: black;
            font-size: 18px;
        }
        .popup-content a:hover {
            text-decoration: underline;
        }
        .close-btn {
            background-color: #ccc;
            color: black;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            margin-top: 20px;
        }
        .close-btn:hover {
            background-color: #aaa;
        }
        @media (max-width: 768px) {
            .header {
                display: none;
            }
            .mobile-header {
                display: flex;
            }
            .new-search-box {
                display: none;
            }
            .searchm-box {
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 80%; /* Adjust the width as needed */
    }
        }
        @media (min-width: 769px) {
            .mobile-header {
                display: none;
            }
            .new-search-box {
                display: none;
            }
            .searchm-box {
                display: none;
            }
        }
    